.chat_message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 40%;
  }

p {
  font-size: 20px;
}

.firstParag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-right {
  display: flex;
  justify-content: center;
  font-size: smaller;
}

#lembreteButton {
  align-items: center;
}

.form-popup {
  background-color: #4dc0d4;

}


