.chat_title {
  padding: 10px;
  margin: 2% 2%;
}

.chat_container {
  border: 2px solid #dedede;
  background-color: #c1c1c1;
  border-radius: 5px;
  width: 40%;
}

.scroll_area {
  overflow-y: scroll; 
  height:500px;
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #f1f1f1;
}

.dark_cell {
  border: 2px solid #ccc;
  background-color: rgb(126, 199, 142);
  border-radius: 5px;
  padding: 10px;
  margin: 2% 2%;
  width: 90%;
}

.light_cell {
  border: 2px solid #ccc;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 2% 2%;
  width: 90%;
}

.sender{
  font-weight: bold;
  line-height: 0%;
}

.content{
  font-size: large;
}

.send_area {
  margin: 2% 2%;
  width: 80%;
}

.time-right {
  border-radius: 5px;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  float: right;
  color: #aaa;
}

textarea {
  margin-top: 2%;
  width: 100%;
}

button{
  margin-top: 2%;
}