<html>
<div class="chatThread" id="myForm">
    <div class="chat_container">
      <h1 class="chat_title">Chat</h1>
      <div class = scroll_area #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div name="chatList" *ngFor= "let c of chats">
          <div class=dark_cell *ngIf = "c.sender==chat.sender">
            <p name="nameList" class="sender">{{c.sender}}: </p>
            <p name="msgList" class="content">{{c.messageContent}}</p>
            <span class="time-right">{{c.sendDate}}</span>
          </div>
          <div class=light_cell *ngIf = "c.sender!=chat.sender">
            <p name="nameList" class="sender">{{c.sender}}: </p>
            <p name="msgList" class="content">{{c.messageContent}}</p>
            <span class="time-right">{{c.sendDate}}</span>
          </div>
        </div>
      </div>
      <div class = send_area>
        <div *ngIf = "!loggedIn">
          <p name="login">Não logado</p>
          <input name="writeName" placeholder="Seu nome..." [(ngModel)]="chat.sender" required>
        </div>
        <div *ngIf = "loggedIn">
          <p name="login">Logado como: </p>
          <p name="loginName">{{chat.sender}}</p>
        </div>
        <textarea name="writeMessage" placeholder="Sua mensagem..." [(ngModel)]="chat.messageContent" required></textarea>
        <button (click)="sendMessage(chat)">Enviar</button>
      </div>
    </div> 
</div>
</html>