<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Gerais</title>
</head>
<body>
    <h2>Dados Gerais</h2>
    <table>
        <tr>
           <th>Duração média de projetos (dias)</th>
           <th>Média de projetos criados por mês</th>
        </tr>
        <tr>
           <th>{{duracaoMedia}}</th>
           <th>{{mediaDeProjetosCriados}}</th>
        </tr>
    </table>

</body>
</html>