body {
    font-family: opensans-regular-webfont, Arial, sans-serif;
    font-weight: bold;
}
h2 {
    color: #111010;
}
.firstTD {
    color: #ffffff;
    background-color: #ff6c9d;
}
table {
    border: 1px solid #ffffff;
    width: 100%;
    border-collapse: collapse;
    color: #201f1f
}
td {
    border: 1px solid #999;
    padding: 5px;
}