<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title name="titulo">Estatisticas</title>
</head>
<body>
    <nav>
        <table>
            <tr>
                <a routerLink="/dadosGerais" id='dadosGerais' name="dadosGerais">Dados Gerais</a>
            </tr>
            <tr>
                <a id='projAt' routerLink="/projetosAtivos" name="projetosAtivos">Projetos Ativos</a>
            </tr>
            <tr>
                <a id='projArq' routerLink="/projetosArquivados" name="projetosArquivados">Projetos Arquivados</a>
            </tr>
        </table>
    </nav>

</body>
</html>