<html>
  
    <h1>
        Eventos
    </h1>    

    <p class = "Paragrafo1">
        Insira uma data no formato de "Dia/Mes/Anos":
    </p>
    <input [(ngModel)]="dataInput" class="InputText1">
    <p class="Paragrafo7"> Insira a tarefa à qual os eventos serão associados:</p>
    <input [(ngModel)]="tarefa1" class="InputText7">
    <button class="button1" (click)="associarEventosPorData(dataInput, tarefa1)"> Confirmar </button>


    <p class="Paragrafo2">
        Ou insira o link do Google Calendar referente ao evento que deseja importar:
    </p>
    <input [(ngModel)]="linkCalendar" class="InputText3">
    <p class="Paragrafo8"> Insira a tarefa à qual o evento será associado:</p>
    <input [(ngModel)]="tarefa2" class="InputText8">
    <button class="button2" (click)="associarEventosPorLink(linkCalendar, tarefa2)"> Confirmar </button>

<!-- 
    <p class="Paragrafo3">
        Criar evento:
    </p>

<table> 
    <tr>   
    <td class="Paragrafo4">Nome do Evento:</td>
    
    <td class="Paragrafo5">Data do evento:</td>
    
    <td class="Paragrafo6">Tarefa associada:</td>
    </tr>
    <tr>
    <input [(ngModel)]="event.nome" class="InputText4">

    <input [(ngModel)]="event.data" class="InputText5">

    <input [(ngModel)]="event.hora" class="InputText6">
    
    <button class="button3" (click)="listarEventos()">Listar Eventos</button>

    </tr>
</table>
-->
<button class="button3" (click)="listarEventos()">Listar Eventos</button>


<table *ngIf="mostrarLista == true" class="tabelaEventos">
    <tr>
       <th>Nome</th>
       <th>Data</th>
       <th>Hora</th>
       <th>Tarefa</th>
    </tr>
    <tr *ngFor="let a of events" >
       <td >{{a.nome}}</td>
       <td >{{a.data}}</td>
       <td>{{a.hora}}</td>
       <td>{{a.tarefas}}</td>
    </tr>
    </table>

</html>