h1{

    color: rgb(13, 47, 66);
    position: relative;
    left: 48%;
}

.Paragrafo1{
    position: absolute;
    left: 48%;
    top: 22%;
}

.InputText1{
    position: absolute;
    left: 48%;
    top: 28%;

}

.InputText2{
    position: absolute;
    left: 60%;
    top: 28%;

}
.Paragrafo7{
    position: absolute;
    left: 48%;
    top: 32%;
}

.InputText7{
    position: absolute;
    left: 48%;
    top: 38%;
}

.button1{
    position: absolute;
    left: 60%;
    top: 38%;
}

.Paragrafo2{
    position: absolute;
    left: 48%;
    top: 50%;
}

.InputText3{
    position: absolute;
    left: 48%;
    top: 56%;
}

.Paragrafo8{
    position: absolute;
    left: 48%;
    top: 60%;
}

.InputText8{
    position: absolute;
    left: 48%;
    top: 66%;
}


.button2{
    position: absolute;
    left: 60%;
    top: 66%;
}

.Paragrafo3{
    position: absolute;
    left: 48%;
    top: 50%;
}

.Paragrafo4{
    position: absolute;
    left: 48%;
    top: 58%;
}

.InputText4{
    position: absolute;
    left: 60%;
    top: 60%;
}

.Paragrafo5{
    position: absolute;
    left: 48%;
    top: 64%;
}

.InputText5{
    position: absolute;
    left: 60%;
    top: 66%;
}

.Paragrafo6{
    position: absolute;
    left: 48%;
    top: 70%;
}

.InputText6{
    position: absolute;
    left: 60%;
    top: 72%;
}


.button3{
    position: absolute;
    left: 48%;
    top: 78%;
}

.tabelaEventos{
    position: absolute;
    top: 84%;
    left: 48%;
    background-color: red;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;

}
.tabelaEventos lr{
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: red;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;

}

.tabelaEventos span{
    width: 100px;
}
