<html>
  
    <h1>
        Eventos
    </h1>    

    <p class = "Paragrafo1">
        Insira um intervalo de tempo no formato de "Dia/Mes/Anos" :
    </p>
    <input  class="InputText1">
    <input class="InputText2">
    <button class="button1"> Confirmar </button>

    <p class="Paragrafo2">
        Ou insira o link do Google Calendar referente ao evento que deseja importar:
    </p>
    <input  class="InputText3">
    <button class="button2"> Confirmar </button>

    <p class="Paragrafo3">
        Criar evento:
    </p>

<table> 
    <tr>   
    <td class="Paragrafo4">Nome do Evento:</td>
    
    <td class="Paragrafo5">Data do evento:</td>
    
    <td class="Paragrafo6">Tarefa associada:</td>
    </tr>
    <tr>
    <input [(ngModel)]="event.nome" class="InputText4">

    <input [(ngModel)]="event.data" class="InputText5">

    <input [(ngModel)]="event.tarefa" class="InputText6">
    
    <button class="button3" (click)="gravar(event)">Adicionar</button>

    </tr>
    
</table>
<tr class="tabelaEventos" *ngIf="events.length > 0">
    <th>Nome</th>
    <th>Data</th>
    <th>Tarefa</th>
</tr>

<tr *ngFor="let i of events" class="tabelaEventosLista" >
    <td name="nomeList">{{i.nome}}</td>
    <td name="dataList">{{i.data}}</td>
    <td name="tarefaLista">{{i.tarefa}}</td>
 </tr>

<table>

</table>

</html>