<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos Arquivados</title>
</head>
<body>
    <h2>Projetos Arquivados</h2>
    <div>
        <table>
            <tr>
            <th>{{porcentagemArquivados}}</th>
            <th>{{mensagemSobreArquivados}}</th>
            </tr>
        </table>
    </div>
    <div>
        <div style="display: block;">
            <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</body>
</html>