
<html>


    <p class="titulo1">TAREFA 1</p>
    <p class="subtitulo1">Descrição: {{tarefas[0].descricao}}</p>
    <p class="subtitulo2">Prazo: {{tarefas[0].prazo}} </p>
    <p class="subtitulo3">Concluida: {{tarefas[0].concluida}}</p>
    <p class="subtitulo4">Arquivada: {{tarefas[0].arquivada}} </p>
    <p class="subtitulo5">Evento:  </p>
    <p class="evento0">{{tarefas[0].contextos[0].evento[0].nome}}</p>


    <p class="titulo2">TAREFA 2</p>
    <p class="subtitulo6">Descrição: {{tarefas[1].descricao}}</p>
    <p class="subtitulo7">Prazo: {{tarefas[1].prazo}} </p>
    <p class="subtitulo8">Concluida: {{tarefas[1].concluida}}</p>
    <p class="subtitulo9">Arquivada: {{tarefas[1].arquivada}} </p>
    <p class="subtitulo10">Evento: </p>
    <p class="evento1">{{tarefas[1].contextos[0].evento[0].nome}}</p>

    <a class="linkContexto" href="/projetos/tarefas/contexto">Contextos</a>

</html>