.projeto {
    margin-top: 20px;
    margin-left: 5px;
}

th {
    padding: 10px;
    background-color: rgb(231, 85, 0);
    color: white;
    border-bottom: 1px solid rgb(172, 172, 172);
}

td {
    text-align: center;
    padding: 0px 20px 5px 20px;
}

button {
    background-color: rgb(209, 0, 0);
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover {
    background-color: #949494b6;
}

button:disabled {
    background-color: #949494b6;
}

.add {
    background-color: #008CBA;
}

.add:hover {
    background-color: #008bbab6;
}