.header {
    margin-bottom: 30px;
}

span {
    margin-right: 20px;
}

.tabela-mensagens {
    width: 700px;
    text-align: left;
    border-collapse: collapse;
    overflow-x: auto;
}

th {
    border-bottom: 1px solid #E1E1E1;
    height: 30px;
}

td {
    height: 30px;
}

.box-atualizacao {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#tabela-atualizacao {
    width: 300px;
    text-align: left;
}

#botao-atualizacao {
    margin-left: 50px;
    color: #000000;
    background-color: #EFEFEF;
    font-size: 14px;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

#botao-atualizacao:hover{
    background-color: #E1E1E1;
}