<div>
    <div class="header">
        <h2>
            {{ tarefa.descricao }}
        </h2>
        <span>
            Prazo:
            <strong>
                {{ tarefa.prazo | date: 'dd/MM/yyyy'}}
            </strong>
        </span>
        <span>
            Concluída?
            <strong>
                {{ tarefa.concluida ? 'Sim' : 'Não'}}
            </strong>
        </span>
    </div>

    <div>
        <h3>
            Mensagens
        </h3>
        <div class="box-atualizacao">
            <table class="tabela-atualizacao">
                <tr>
                    <th>Última atualização</th>
                </tr>
                <tr>
                    <td>{{ (tarefa.atualizacao == null) ? 'Ainda não houve atualização' : (tarefa.atualizacao | date: 'dd/MM/yyyy - hh:mm:ss a') }}</td>
                </tr>
            </table>
            <button (click)="atualizarMensagens()" class="botao-atualizacao">Atualizar</button>
        </div>
        <div *ngIf="tarefa.contextos.length == 0" class="sem-mensagens">
            <p>Não há mensagens cadastradas</p>
        </div>
    </div>

    <table class="tabela-mensagens">
        <tr *ngIf="tarefa.contextos.length > 0">
            <th>Título</th>
            <th>Lembrete</th>
            <th>Atenção</th>
            <th>Resolvido</th>
        </tr>
        <tr *ngFor="let c of tarefa.contextos">
            <td name="nome">{{c.mensagem}}</td>
            <td name="data">{{c.lembrete | date: 'dd/MM/yyyy - hh:mm a'}}</td>
            <td name="atencao">{{c.atencao? 'Sim' : 'Não'}}</td>
            <td name="leitura">{{c.resolvido? 'Sim' : 'Não'}}</td>
        </tr>
    </table>
</div>